.slide-form{ /*animacao do formulario*/
    animation-duration: 1s;
    animation-name: slidein;

}
@keyframes slidein{
    from{
        margin-top: -100%;
    }
    to{
        margin-top: 1%;
    }
}